* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #4f46ba;
}

@font-face {
  font-family: "Gilroy";
  src: url("../assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/Manrope-VariableFont_wght.ttf");
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li {
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Manrope";
}

header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 1000px;
  background: rgb(98, 186, 218);
  background: -moz-linear-gradient(
    315deg,
    rgba(98, 186, 218, 1) 0%,
    rgba(201, 231, 242, 1) 100%
  );
  background: -webkit-linear-gradient(
    315deg,
    rgba(98, 186, 218, 1) 0%,
    rgba(201, 231, 242, 1) 100%
  );
  background: linear-gradient(
    315deg,
    rgba(98, 186, 218, 1) 0%,
    rgba(201, 231, 242, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#62bada",endColorstr="#c9e7f2",GradientType=1);
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 83.5%;
  height: 52px;
  margin: auto;
  margin-top: 38px;
}

nav > h1 {
  font-family: "Gilroy";
  font-size: larger;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  width: 322px;
  font-size: small;
  color: black;
}

nav > ul > li > a {
  color: black;
}

nav > div {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}

nav > div > a {
  align-items: center;
  display: flex;
  font-size: small;
  justify-content: center;
  width: 137px;
  color: black;
}

nav > div > .start-free-cta-btn {
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 137px;
}

/* Hero Content  */

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  height: 650px;
}

.text-content {
  width: 650px;
}

.text-content h1 {
  font-size: 52px;
  letter-spacing: -1.5px;
  margin-bottom: 20px;
}

.text-content p {
  font-size: 16px;
  margin-bottom: 50px;
}

.cta-buttons {
  display: flex;
  gap: 20px;
  font-size: small;
}

.primary-btn {
  background: var(--primary-color);
  color: #fff;
  width: 120px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  text-decoration: none;
}

.secondary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
}

.play-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1dd1a1;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  color: #fff;
  margin-right: 10px;
}

.features-list {
  display: flex;
  width: auto;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.features-list li {
  font-size: small;
  color: #555;
  margin-bottom: 10px;
}

.tickmark {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--primary-color);
}
/* Image Content */
.image-content {
  position: relative;
}

.image-content img {
  max-width: 100%;
}

.image-content > .hand-1 {
  position: relative;
  width: 210px;
  transform: translate(-250px, 50px);
}

.image-content > .hand-2 {
  width: 260px;
  transform: translate(80px, 50px);
}

/* Client Logos */
.client-logos {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 180px;
  background-color: #f5f6f8;
  width: 100%;
}

.client-logos p {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: large;
  font-weight: 500;
}

.client-logos .logos img {
  max-width: 100px;
  margin: 20px;
}
